.login-container {
  display: flex;
  flex-direction: column; /* Imposta una colonna per il contenuto */
  justify-content: center;
  align-items: center;
  height: 120vh;
  position: relative;
  background-color: green;
}

.login-form {
  background-color: white;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 600px;
}

.input-group {
  margin-bottom: 25px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 97%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

h2 {
  color: green;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: 20%;
  margin-top: 10px;
}

.btn-home {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.registration-link {
  text-align: center;
  display: inline-block;
  color: blue;
  text-decoration: none;
  margin-top: 10px; /* Distanza tra il login e il link di registrazione */
}

.registration-link:hover {
  text-decoration: underline;
}