<div class="hero">
    <div class="hero-content">
        <h1>M - Il figlio del secolo</h1>
        <p>
            Dall’omonimo romanzo di Antonio Scurati vincitore del Premio Strega, la serie racconta
            la nascita del fascismo in Italia e l’ascesa al potere di Benito Mussolini.
        </p>
        <div class="buttons">
            <button class="play-btn">▶ Riproduci</button>
            <button class="info-btn">ℹ Altre info</button>
        </div>
    </div>
</div>

<!-- Sezione film recenti -->
<div class="movie-section">
    <h2>Film Recenti</h2>
    <div class="movie-list-wrapper">
        <button class="arrow left" (click)="scroll(movieListRecent, 'left')">&#10094;</button>
        <div class="movie-list" #movieListRecent>
            <app-moviecard *ngFor="let movie of recentMovies" [movie]="movie"></app-moviecard>
        </div>
        <button class="arrow right" (click)="scroll(movieListRecent, 'right')">&#10095;</button>
    </div>
</div>

<!-- Sezione film con il rating più alto -->
<div class="movie-section">
    <h2>Film con il Rating Più Alto</h2>
    <div class="movie-list-wrapper">
        <button class="arrow left" (click)="scroll(movieListTop, 'left')">&#10094;</button>
        <div class="movie-list" #movieListTop>
            <app-moviecard-toprated *ngFor="let movie of topRatedMovies; let i = index" [movie]="movie" [movieIndex]="i"></app-moviecard-toprated>
        </div>
        <button class="arrow right" (click)="scroll(movieListTop, 'right')">&#10095;</button>
    </div>
</div>

