<div class="recupero-container">
    <div class="recupero-form">
        <h2>Recupera la tua password</h2>
        <p>Inserisci il tuo indirizzo email per ricevere le istruzioni per il recupero della password.</p>
        <form (submit)="submitRecoveryForm()">
            <div class="input-group">
                <label for="email">Indirizzo Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required />
            </div>
            <button type="submit" class="btn">Invia istruzioni</button>
        </form>

        <div *ngIf="showPasswordField">
            <div class="input-group">
                <label for="newPassword">Nuova Password</label>
                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required />
            </div>

            <!-- Pulsante di conferma password -->
            <button class="btn-confirm" (click)="onSubmit()">Conferma Password</button>
        </div>

        <p>Se non hai un account, <a routerLink="/signup" class="registration-link">crea un nuovo account</a>.</p>
    </div>
    <button class="btn-home" routerLink="/home">Home</button>
</div>
