  :host {
    display: block;
    background-color: #001a17;
    color: #fff;
    min-height: 130vh;
  }

  .movie-list-wrapper {
    position: relative;
    margin-top: 50px; /* Ridotto per avvicinare le sezioni */
  }

  .movie-section {
    padding-top: 90px; /* Ridotto */
  }

  .movie-section h2 {
    padding-left: 20px; /* Aggiungi un po' di spazio a sinistra */
  }


  .movie-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px; /* Ridotto */
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 5px; /* Ridotto */
    scrollbar-width: none;
  }
  .movie-list::-webkit-scrollbar {
    display: none;
  }

  /* Pulsanti freccia */
  .arrow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #001a17;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20; /* Frecce sopra le card */
    display: flex;
    align-items: center;   /* Allinea verticalmente */
    justify-content: center; /* Allinea orizzontalmente */
    transition: transform 0.3s ease, background 0.3s ease;
  }


  /* Rendi visibili le frecce quando la lista è visibile */
  .movie-list-wrapper:hover .arrow {
    opacity: 1; /* Frecce visibili al passaggio del mouse sulla lista */
  }

  /* Modifica l'opacità per le frecce quando non sono visibili */
  .arrow {
    opacity: 0; /* Le frecce sono invisibili di default */
    transition: opacity 0.3s ease;
  }

  .arrow:hover {
    background: #00b894;
    opacity: 1; /* Le frecce diventano visibili al passaggio del mouse */
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }


  .movie-list.featured-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 40px;
    padding: 15px;
    width: 100%;
  }


  .movie-list.featured-carousel > app-moviecardfilmhome {
    scroll-snap-align: center;
    flex: 0 0 100%;
  }

  .movie-list.featured-carousel > app-moviecardfilmhome .movie-card {
    width: 18%; /* Ridotto per dare più spazio sopra */
  }

