<div class="hero">
    <div class="hero-content">
        <h1>M - Il figlio del secolo</h1>
        <p>
            Dall’omonimo romanzo di Antonio Scurati vincitore del Premio Strega, la serie racconta
            la nascita del fascismo in Italia e l’ascesa al potere di Benito Mussolini.
        </p>
        <div class="buttons">
            <button class="play-btn">▶ Riproduci</button>
            <button class="info-btn">ℹ Altre info</button>
        </div>
    </div>
</div>

<div class="container">
    <h2>{{ title }}</h2>
    <p>Questa è la Home Page di Angular Standalone!</p>
    <a routerLink="/login" class="btn">Vai alla Pagina About</a>
</div>

<!-- Sezione film recenti -->
<div class="movie-section">
    <h2>Film Recenti</h2>
    <div class="movie-list">
        <app-moviecard *ngFor="let movie of recentMovies" [movie]="movie"></app-moviecard>
    </div>
</div>

<!-- Sezione film con il rating più alto -->
<div class="movie-section">
    <h2>Film con il Rating Più Alto</h2>
    <div class="movie-list">
        <app-moviecard *ngFor="let movie of topRatedMovies" [movie]="movie"></app-moviecard>
    </div>
</div>