<div class="movie-carousel">
    <div class="movie-card-large" *ngFor="let movie of movies" (click)="goToMovieDetails(movie.id)">
        <!-- <div class="movie-background" [style.backgroundImage]="'url(' + movie.imageUrl + ')'"></div> -->
        <div class="movie-overlay">
            <h1>{{ movie.title }}</h1>
            <p><strong>Rating:</strong> {{ movie.rating }}</p>
            <p>{{ movie.description }}</p>
        </div>
    </div>
</div>

<!-- Sezione film recenti -->
<div class="movie-section">
    <h2>Film Recenti</h2>
    <div class="movie-list">
        <app-moviecard *ngFor="let movie of recentMovies" [movie]="movie"></app-moviecard>
    </div>
</div>

<!-- Sezione film con il rating più alto -->
<div class="movie-section">
    <h2>Film con il Rating Più Alto</h2>
    <div class="movie-list">
        <app-moviecard-toprated *ngFor="let movie of topRatedMovies" [movie]="movie"></app-moviecard-toprated>
    </div>
</div>
