<div class="view-movies-container">
  <h2 class="view-movies-header">Movies</h2>

  <div *ngFor="let movie of movies" class="view-movie">
    <img [src]="movie.poster" alt="Poster of {{ movie.title }}" />
    <div class="view-movie-details">
      <h3 class="view-movie-title">{{ movie.title }}</h3>
      <p class="view-movie-director"><strong>Director:</strong> {{ movie.director }}</p>
      <p class="view-movie-description">{{ movie.description }}</p>
      <p class="view-movie-rating">⭐ {{ movie.rating }}/10</p>
    </div>
  </div>
</div>
