
.watchlist-page {
    display: flex; /* Disposizione in flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    background-color: #f8f9fa; /* Colore di sfondo chiaro */
    min-height: 100vh; /* Altezza minima per coprire tutta la finestra */
    padding: 20px; /* Spaziatura interna */
    box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza totale */
}


app-watchlist {
    width: 100%; /* Imposta la larghezza al 100% */
    max-width: 1200px; /* Limita la larghezza massima per evitare che diventi troppo largo */
    padding: 20px; /* Spaziatura interna */
    background-color: #ffffff; /* Colore di sfondo bianco */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera per dare profondità */
}
