<nav class="navbar">
  <div class="logo">SC</div>
  <ul class="menu">
    <li><a routerLink="/">Home</a></li>

      <!-- Sezione Generi con Menu a Tendina -->
      <div class="genre-section">
          <h2>Generi</h2>
          <select class="genre-dropdown" (change)="onCategoryChange($event)">
              <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
              </option>
          </select>
      </div>

    <li><a routerLink="/films">Film</a></li>
    <li><a routerLink="/premium">Premium</a></li>
  </ul>
  <div class="actions">
    <button class="login-btn" routerLink="/login">Accedi</button>
  </div>
</nav>
