<nav class="navbar">
    <div class="logo">SC</div>
    <ul class="menu">
        <li><a routerLink="/">Home</a></li>

        <!-- Sezione Generi con Menu a Tendina -->
        <li class="dropdown">
            <a (click)="toggleDropdown()">
                Generi <span class="arrow">⌄</span>
            </a>
            <ul class="dropdown-menu" [class.open]="isDropdownOpen">
                <li *ngFor="let category of categories" (click)="onCategoryChange(category.id)">
                    <a>{{ category.name }}</a>
                </li>
            </ul>
        </li>

        <li><a routerLink="/films">Film</a></li>
        <!-- Se l'utente è un admin, mostra il pulsante "Aggiungi Film" -->
        <ng-container *ngIf="isAdmin">

            <button class="add-movie-btn" routerLink="/add-movie">Aggiungi Film</button>

        </ng-container>

    </ul>
    <div class="actions">
        <!-- Mostra il pulsante Accedi se l'utente non è loggato -->
        <button *ngIf="!isLoggedIn()" class="login-btn" routerLink="/login">Accedi</button>

        <!-- Se l'utente è loggato mostra il pulsante Libreria Personale e Logout -->
        <ng-container *ngIf="isLoggedIn()">
            <span class="nickname">Ciao, {{ nickname }}</span>
            <button class="library-btn" routerLink="/personal-library">Libreria Personale</button>
            <button class="logout-btn" (click)="logout()">Logout</button>
        </ng-container>
    </div>

</nav>
