/* Card */
.movie-card {
    flex: 0 0 100%; /* Occupa tutta la larghezza disponibile */
    height: 500px; /* Aumenta l'altezza della card */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px; /* Bordi arrotondati per un look più morbido */
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

/* Al passaggio del mouse, ingrandisce la card con una leggera ombra */
.movie-card:hover {
    transform: scale(1.02);
    z-index: 10;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Intestazione della card: titolo e rating */
.card-header h3 {
    margin: 0;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    color: #333;
    font-family: 'Cinzel', serif;
}

/* Rating nascosto di default */
.card-header .rating {
    display: none;
    margin-top: 5px;
    font-size: 1.2rem;
    color: #999;
}

/* Mostra il rating al passaggio del mouse */
.movie-card:hover .card-header .rating {
    display: block;
    color: black;
}

/* Footer della card */
.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

/* Mostra il footer con la descrizione al passaggio del mouse */
.movie-card:hover .card-footer {
    max-height: 100px;
    padding: 15px;
    opacity: 1;
}




