.registration-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 120vh; /* Impostiamo l'altezza della schermata per centrare verticalmente */
    background-color: green;
    padding: 35px;
}

h2 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* Larghezza del modulo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%; /* Assicuriamo che gli input si estendano */
}

.input-group label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-group span {
    font-size: 14px;
    color: red;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.btn:hover {
    background-color: darkblue;
}

.registration-container p {
    margin-top: 15px;
    text-align: center;
}